/javaee-example/target/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/PirmojiPaskaita/nbproject/private/
/PirmojiPaskaita/build/
/TreciojiPaskaita2018_09_13/nbproject/private/
/AntrojiPaskaita2019_09_12/nbproject/private/
/AntrojiPaskaita2019_09_12/build/
/AntrojiPaskaita2019_09_12/dist/
/pro/target/
/Gamta/nbproject/private/
/Gamta/build/
/JavaException/nbproject/private/
/JavaException/build/
/Anotacijos/nbproject/private/
/Anotacijos/build/
/Anotacijos/dist/